/* General Navbar Styling */
.about-us-nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #fff;
  color: #6d2323;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 5;
  width: 100%;
}

.about-us-nav-title {
  color: #6d2323;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
  margin-left: 10rem;
}

.about-us-nav-links {
  margin: 0 5rem;
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.about-us-nav-link {
  color: #6d2323;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.about-us-nav-link:hover {
  text-decoration: none;
  border-bottom: #6d2323 2px solid;
}

.about-us-nav-link:active {
  border-bottom: #6d2323 2px solid;
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-us-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .about-us-nav-links {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-top: 1.2rem;
    margin-left: 10rem
  }

  .about-us-nav-link {
    width: 100%;
    padding: 1rem 2rem;
    text-align: left;
  }
}
