/* Footer.css */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #6d2323;
  height: 100vh;
  max-height: 340px;
  color: #fff;
  padding: 4rem 2rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  justify-items: center;
  align-items: start;
}

.footer-logo img {
  max-width: 150px;
}

.footer-section-title {
  font-size: 1.2rem;
  color: #f1f1f1;
  margin-bottom: 1rem;
  font-weight: bold;
}

.footer-contact p,
.footer-links li,
.footer-credits p {
  font-size: 1rem;
  color: #ccc;
  margin: 0.5rem 0;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-contact a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links li a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links li a:hover {
  color: #f1f1f1;
}

.footer-social .social-icons a {
  margin: 0 0.5rem;
}

.footer-social .social-icons img {
  width: 25px;
  height: 25px;
  transition: transform 0.3s ease;
}

.footer-social .social-icons a:hover img {
  transform: scale(1.1);
}

.footer-credits {

  text-align: center;
}
.footer-credits p {
  font-size: 0.9rem;
  color: #777;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .footer-logo img {
    max-width: 120px;
  }
}
