/* Mission Banner Styling */
.mission-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4rem 2rem;
  background: url('/fellowship-3.jpg') no-repeat center center/cover; /* Add background image */
  color: #fff;
  position: relative;
  overflow: hidden;
}

.mission-banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Dark overlay */
  z-index: 1;
}

.mission-content {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.mission-title {
  text-transform: none;
  text-decoration: lo;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  color: #fff;

}

.mission-description {
  text-align: right;
  font-size: 1.5rem;
  line-height: 1.8;
  color: #fff;

}

/* Responsive Design */
@media (max-width: 768px) {
  .banner-title {
    font-size: 2rem;
  }

  .banner-description {
    font-size: 1rem;
  }
}
